* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main {
    width: 50vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

ul.list {

}

li.dir {
    list-style-type: none;
    width: 40vw;
    height: 20vh;
    margin: 5% 10%; /* gd & hb */
    position: relative;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    text-decoration-color: white;
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 0 #1f5aab, 2px -2px 0 #1f5aab, -2px 2px 0 #1f5aab, -2px -2px 0 #1f5aab, 2px 0px 0 #1f5aab, 0px 2px 0 #1f5aab, -2px 0px 0 #1f5aab, 0px -2px 0 #1f5aab, 21px 5px 9px rgba(0,0,0,0);
    transition: font-size 150ms ease-out 100ms;
}

img.img {
    filter: blur(5px);
    width: 40vw;
    height: 20vh;
    object-fit: cover;
    transition: filter 100ms ease-out 50ms, transform 100ms ease-out 50ms;
}

li:hover img.img {
    filter: blur(0px);
    transform: scale(1.1);
}

li:hover h2 {
    font-size: 2.5em;
}

::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
}
::-webkit-scrollbar-track{
    background: #313131;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #313131;
}